<div class="mdui-card-primary mdui-ripple">
    <div class="mdui-card-primary-title">
        <a role="heading" aria-level="1" class="u-url p-name mdui-text-color-<%= color %>-text" <%if(post !== page) { %>href="<%- url_for(post.path) %>"<% } %>><%= post.title %></a>
        <a class="p-author h-card" style="display:none" href="<%= config.url %>"><%= config.author %></a>
        <% if(post.categories && post.categories.length) { %>
        <small> <%- list_categories(post.categories, {
            show_count: false,
            class: 'mdui-text-color-' + color + '-text category',
            style: 'none',
            separator: '>'
        }) %></small>
        <% } %>
    </div>
    <div class="mdui-card-primary-subtitle mdui-typo">
        <% if(post.tags && post.tags.length) { %>
        <span><%- list_tags(post.tags, {
            show_count: false,
            class: 'tag',
            style: 'none',
            separator: ' '
        }) %></span>
        <span><%= theme.m.syntax %></span><% } %>
        <time class="dt-published" mdui-tooltip="{content:'<%= __("post.date") %><%- date(post.date, "YYYY-MM-DD hh:mm") %><% if(post.updated) { %><br><%= __("post.updated") %><%- date(post.updated, "YYYY-MM-DD hh:mm") %><% } %>'}" datetime="<%- date_xml(post.date) %>"><%- date(post.date, "YYYY-MM-DD") %></time>
        <span><%= theme.m.syntax %></span>
        <% if(post.title) { %>
            <span><%= post.path %></span>
        <% } else { %>
            <a href="<%- url_for(post.path) %>"><%= post.path %></a>
        <% } %>
    </div>
</div>