<%- partial('_partial/head') %>
<body class="mdui-theme-primary-<%= theme.mdui.primary %> mdui-theme-accent-<%= theme.mdui.accent %> mdui-appbar-with-toolbar <% if(theme.mdui.drawer_close == false) { %>mdui-drawer-body-left<% } %>">
    <div class="<% if(theme.m.layout) { %>mdui-theme-layout-<%= theme.m.layout %><% } else { %><%= theme.mdui.layout %><% } %>">
    <%- fragment_cache ('appbar', function (){
        return partial ('_partial/appbar');
        }) %>
    <%- fragment_cache ('drawer', function (){
        return partial ('_partial/drawer');
        }) %>
    </div>
    <div class="mdui-container-fluid mdui-center" <% if(theme.m.max_width) { %>style="max-width:<%= theme.m.max_width %>"<% } %>>
        <%- body %>
    </div>
    <%- fragment_cache ('fab', function (){
        return partial ('_partial/fab');
    }) %>
<%- partial('_partial/foot') %>
</body>
</html>