<div class="mdui-theme-layout-<%= theme.mdui.layout %> mdui-color-transparent">
    <div <%- fragment_cache ('card_style', function (){
    return partial ('_partial/card_style');
    }) %>>
        <% if(site.data.links) { for(var i in site.data.links) { %>
        <a class="mdui-list-item mdui-ripple mdui-text-color-theme-text" href="<%= site.data.links[i].url %>"
            target="_blank">
            <% if(site.data.links[i].icon) {%>
            <div class="mdui-list-item-avatar"><img loading="lazy" src="<%= site.data.links[i].icon %>" <% if(site.data.links[i].style) { %>style="<%- site.data.links[i].style %>"<% } %>/></div>
            <% } else { %>
            <i class="mdui-list-item-avatar mdui-color-theme mdui-icon material-icons">person</i>
            <% } %>
            <div class="mdui-list-item-content">
                <div class="mdui-list-item-title"><%= i %></div>
                <% if(site.data.links[i].descr) { %>
                <div class="mdui-list-item-text mdui-list-item-one-line"><%= site.data.links[i].descr %></div>
                <% } %>
            </div>
        </a>
        <div class="mdui-divider-inset mdui-m-y-0"></div>
        <% }} %>
    </div>
</div>