<!DOCTYPE html>
<html <% if(config.language !== null) { %>lang="<%- config.language.substring(0,2) %>" <% } %>>

<head>
    <%- fragment_cache ('head_common', function (){
        return partial ('_partial/head_common');
    }) %>
    <%
        var title = page.title;
    if (is_archive()){
        title = __('common.archive');
        if (is_month()){
            title += ': ' + page.year + '-' + page.month;
        } else if (is_year()){
            title += ': ' + page.year;
        }
    } else if (is_category()){
        title = __('common.category') + ': ' + page.category;
    } else if (is_tag()){
        title = __('common.tag') + ': ' + page.tag;
    }
    %>
    <title><% if (title){ %><%= title %> <%= theme.m.syntax %> <% } %><%= config.title %></title>
    <meta name="description" itemprop="description"
        content="<% if(page.description) { %><%= page.description %><% } else if(page.excerpt){ %><%= strip_html(page.excerpt).replace(/^s*/, '').replace(/s*$/, '') %><% } else if (config.description){ %><%= config.description %><% } %>">
    <meta name="keywords"
        content="<%= theme.head.keywords %><% if(page.tags && page.tags.each) { page.tags.each(function(tag) { %><%- ',' + tag.name %><% })} %>">
    <% if( (is_post()) ) { %>
        <meta property="article:published_time" content="<%= page.date %>">
        <meta property="article:modified_time" content="<%= page.updated %>">
    <% } %>
    <link rel="canonical" href="<%= config.url + url_for(page.path).replace('index.html', '') %>">
</head>